<div class="modal fade" id="addtag" tabindex="-1" role="dialog" aria-labelledby="addtag" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<script type="text/javascript">
function addTagHandler() {
    var pk = $(this).data("pk");
    $.get({
        "url": `/puzzles/add_tags_form/${pk}`
    }).done(function(data) {
        $("#addtag .modal-content").html(data);
    });
}

$('#puzzles').on('click', '.addtag', addTagHandler);
</script>
