<div class="modal fade" id="meta" tabindex="-1" role="dialog" aria-labelledby="meta-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="meta-title">Assign metas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id='assign-metas' method="post" action="/puzzles/meta/">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="submit">Assign</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
function setMetaHandler() {
    var pk = $(this).data("pk");
    var name = $(this).data("name");
    $('#meta form').attr("action", `/puzzles/meta/${pk}/`);
    $('#meta-title').text(`Assign metas for ${name}`);
    $('#assign-metas').data('pk', pk);
    $.get({"url": `/puzzles/meta_select_form/${pk}`}).done(function(data) {
        $("#meta .modal-body .form-group").html(data);
    });
};

$('#puzzles').on('click', '.meta', setMetaHandler);

$('#assign-metas').on('submit', function(e) {
    e.preventDefault();

    let pk = $(this).data('pk');
    let url = $(this).attr('action');
    let row = table.row(`#puzzle-${pk}`);
    let data = row.data();
    let puzzleName = data[puzzle_name];

    let oldTags = data[tags];
    let metas = $(this).find('input:checked');
    let metaNames = [];
    for (const meta of metas) {
        let id = $(meta).attr('id');
        metaNames.push($(this).find(`label[for='${id}']`).text().trim());
    }

    // 'dark' is the reserved color for meta tags
    let newTags = metaNames.map(meta => [meta, 'dark']);
    oldTags.forEach(function(tag, index) {
        if (tag[1] != 'dark' || tag[0] == puzzleName) {
            newTags.push(tag);
        }
    });

    data[tags] = newTags;
    table.cell(row.index(), tags).invalidate();
    initDeleteTagHandlers(data);

    $.ajax(url, {
        'method': 'POST',
        'data': $(this).serialize(),
        'success': function() {
            showMessage(`Assigned puzzle '${puzzleName}' to the following ` +
                `metas: ${metaNames.join(', ')}'`);
            reload();
        },
        'error': function(response) {
            showMessage(`Encountered error updating meta assignments for puzzle '${puzzleName}': ${response['responseJSON']['error']}`, 'error');
            reload();
        },
    });

    $('#meta').modal('hide');
});
</script>