<div class="modal fade" id="submitanswer" tabindex="-1" role="dialog" aria-labelledby="submitanswer-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="submitanswer-title">Submit Answer for <span id='submitanswer-puzzle-name'></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/puzzles/guess/">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="text" id="guess-input" class="form-control form-control-sm" placeholder="Enter Guess" maxlength="128" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
function submitAnswerHandler(e) {
    var pk = $(this).data("pk");
    var puzzleName = $(this).data("name");
    $('#submitanswer form').attr('action', `/puzzles/guess/${pk}/`);
    $('#submitanswer form').data('pk', pk);
    $('#submitanswer-puzzle-name').text(puzzleName);
    $('#guess-input').val('');

    // Need to set focus after delay to accommodate fade in
    setTimeout(function() {
        $('#guess-input').focus();
    }, 500);
}
$('#puzzles').on('click', '.submitanswer', submitAnswerHandler);

$('#submitanswer form').on('submit', function(e) {
    e.preventDefault();
    let pk = $(this).data('pk');
    let url = $(this).attr('action');
    let guess = $('#guess-input').val();
    let row = table.row(`#puzzle-${pk}`);
    let rowNode = row.node();
    let data = row.data();
    let puzzleName = data[puzzle_name];
    data[puzzle_status] = 'PENDING';
    table.cell(row.index(), puzzle_status).invalidate();
    updateRowColor(rowNode, 'PENDING');

    $.ajax(url, {
        'method': 'POST',
        'data': $(this).serialize(),
        'success': function(response) {
            showMessage(`Submitted guess '${guess}' for puzzle '${puzzleName}'`);
            reload();
        },
        'error': function(response) {
            showMessage(`Got error submitting guess '${guess}' for puzzle '${puzzleName}': ${response['responseJSON']['error']}`, 'error');
            reload();
        },
    });

    $('#submitanswer').modal('hide');
})
</script>
