<table class="table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Puzzle</th>
            <th scope="col">Status</th>
            <th scope="col">Sheet</th>
            <th scope="col">Slack</th>
        </tr>
    </thead>
    <tbody>
            {% for p, cls in puzzles_with_class %}
            <tr class="{{ cls }}">
                <th scope="row"><a href="{{ p.url }}">{{ p.name }}</a></th>
                <td>{{ p.status }}</td>
                <td><a href="{{ p.sheet }}">Link</a></td>
                <td><a href="{{ p.channel }}">Link</a></td>
            </tr>
            {% endfor %}
    </tbody>
</table>