{% load puzzle_extras %}

<table class="table table-sm" id="puzzles">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Answer</th>
            <th scope="col">Status</th>
            <th scope="col">Sheet</th>
            <th scope="col">Slack</th>
            <th scope="col">Tags</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
            {% for p, status_form, meta_form in rows %}
            <tr class="{% puzzle_class p %}">
                <th scope="row">
                    {% get_title p %}
                </th>
                <td><p class="text-monospace">{{ p.answer.upper }}</p></td>
                <td>
                    <form method="post", action="/puzzles/update_status/{{ p.pk }}/" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ status_form.status }}
                        </div>
                    </form>
                </td>
                <td><a href="{{ p.sheet }}">Link</a></td>
                <td><a href="https://slack.com/app_redirect?channel={{ p.channel }}">Link</a></td>
                <td>
                  {{ p.get_tag_names }}
                </td>
                <td>
                    {% if p.status != "SOLVED" %}
                       <form action="/puzzles/guess/{{ p.id }}/" method="post" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ guess_form.text }}
                            <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
                        </div>
                    </form>
                     {% endif %}
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#meta-{{ p.pk }}">
                        assign meta
                    </button>
                    <div class="modal fade" id="meta-{{ p.pk }}" tabindex="-1" role="dialog" aria-labelledby="metatitle-{{ p.pk }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="metatitle-{{ p.pk }}">Assign Meta</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post" action="/puzzles/meta/{{ p.pk }}/">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="form-group">
                                            {{ meta_form.meta_select }}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Assign</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col" class="column_searchable">Name</th>
            <th scope="col" class="column_searchable">Answer</th>
            <th scope="col" class="column_searchable">Status</th>
            <th scope="col">Sheet</th>
            <th scope="col">Slack</th>
            <th scope="col" class="column_searchable">Tags</th>
            <th scope="col"></th>
            <th scope="col" class="column_searchable">Meta</th>
        </tr>
    </tfoot>
</table>

<script type="text/javascript">
$(document).ready(function() {
    // For choice fields, each entry should only be searchable by the currently
    // selected value.
    $.fn.dataTableExt.ofnSearch['select-input'] = function(value) {
        return $(value).find('select').val();
    };

    $.fn.dataTableExt.ofnSearch['checkbox-input'] = function(value) {
        var search_str = "";
        var checked = $(value).find(":checked").each( function () {
            // The name of the meta is actually displayed in the parent DOM
            // element.
            search_str += $(this).parent().text();
        } );
        return search_str;
    };

    // Add a text input for each footer cell that is column_searchable.
    $('#puzzles .column_searchable').each( function () {
        var col_name = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+col_name+'" />' );
    } );


    var table = $('#puzzles').DataTable( {
        "paging": false,
        "info": false,
        "columnDefs": [
            { "orderable": false, "targets": [2, 3, 4, 5, 6] },
            { "type": "select-input", "targets": [2] },
            { "type": "checkbox-input", "targets": [7] }
        ]
    } );

    // Apply column search.
    table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change clear', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
});

</script>
