{% load puzzle_extras %}
{% include "modals/edit_puzzle.html" %}
{% include "modals/delete_puzzle.html" %}
{% include "modals/add_tag.html" %}
{% include "modals/set_meta.html" %}

<table class="table table-sm tree" id="puzzles" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Answer</th>
            <th scope="col">Status</th>
            <th scope="col">Sheet</th>
            <th scope="col">Slack</th>
            <th scope="col">Tags</th>
            <th scope="col"></th>
            <th scope="col">Meta</th>
        </tr>
    </thead>
    <tbody>
        {% for p, status_form, puzzle_class in rows %}
        <tr class="{{ puzzle_class }}">
            <td scope="row">
                {% get_title p %}
            </td>
            <td><p class="text-monospace">{{ p.answer.upper }}</p></td>
            <td>
                <form method="post", action="/puzzles/update_status/{{ p.pk }}/" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ status_form.status }}
                    </div>
                </form>
            </td>
            <td><a href="{{ p.sheet }}" target="_blank">Link</a></td>
            <td><a href="{{ slack_base_url }}/app_redirect?channel={{ p.channel}}" target-"_blank">Link</a></td>
            <td>
                {% show_tags p %}
            </td>
            <td>
                {% if p.status != "SOLVED" %}
                   <form action="/puzzles/guess/{{ p.pk }}/" method="post" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ guess_form.text }}
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
                </form>
                 {% endif %}
            </td>
            <td>
                <button type="button" class="meta btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#meta" data-pk="{{ p.pk }}">
                    assign meta
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="col" class="column_searchable">Name</th>
            <th scope="col" class="column_searchable">Answer</th>
            <th scope="col" class="column_searchable">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col" class="column_searchable">Tags</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </tfoot>
</table>




<script type="text/javascript">
$(document).ready(function() {

    var start_ts = Date.now();
    // For choice fields, each entry should only be searchable by the currently
    // selected value.
    $.fn.dataTableExt.ofnSearch['select-input'] = function(value) {
        return $(value).find('select').val();
    };

    // For tags, each entry should be searchable by existing badges.
    $.fn.dataTableExt.ofnSearch['tag-input'] = function(value) {
        var search_str = "";
        $(value).find(".badge").each( function () {
            search_str += $(this).text()
        } );
        return search_str;
    };

    // Searchable string should contain the title of the puzzle, concatenated
    // with "meta" if it is a metapuzzle (so we can filter this column by
    // metas).
    $.fn.dataTableExt.ofnSearch['name-input'] = function(value) {
        var search_str = ""
        search_str += $(value).find(".puzzle-title").text();
        search_str += $(value).find(".badge-meta").text();
        return search_str;
    };

    // Add a text input for each footer cell that is column_searchable.
    $('#puzzles .column_searchable').each( function () {
        var col_name = $(this).text();
        $(this).html( '<input type="text" class="form-control" placeholder="Search '+col_name+'" />' );
    } );

    var pre_dt_init_ts = Date.now();

    var table = $('#puzzles').DataTable( {
        "paging": true,
        "pageLength": 25,
        "info": false,
        "ordering": false,
        "columnDefs": [
            { "type": "name-input", "targets": [0] },
            { "type": "select-input", "targets": [2] },
            { "type": "tag-input", "targets": [5] },
        ]
    } );

    // Move column search input to top.
    $('#puzzles tfoot tr').appendTo('#puzzles thead');

    function maybeExpandAll() {
        if ( all_uncollapsed == false ) {
            all_uncollapsed = true;
            $('.tree').treegrid('expandAll');
        }
    }
    table.on( 'search.dt', maybeExpandAll);


    var dt_init_ts = Date.now();
    var dt_init_ms = dt_init_ts - pre_dt_init_ts;
    console.log("Datatable init time (ms) :" + dt_init_ms);

    var all_uncollapsed = false;
    // Apply column search.
    table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change clear', function () {
            maybeExpandAll();
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    var pre_treegrid_ts = Date.now();

    // Initialize treegrid.
    function initTreegrid() {
        $('.tree').treegrid({
            onCollapse: function() {
                all_uncollapsed = false;
            }
        });
        if ($('.tree').hasClass( "initial-collapsed" )) {
            $('.initial-collapsed').treegrid('collapse');
        }
    }
    initTreegrid();
    // New datatable page and search should also trigger treegrid.
    $('#puzzles').on( "draw.dt", initTreegrid);

    var treegrid_ts = Date.now();
    var treegrid_ms = treegrid_ts - pre_treegrid_ts;
    var total_ms = treegrid_ts - start_ts;
    console.log("treegrid init time (ms): " + treegrid_ms);
    console.log("total time(ms): " + total_ms);
});

</script>
