<div style="padding: 0px 0px; display:inline;">
    <a class="puzzle-title" href="{{ puzzle.url }}">{{ puzzle.name }}</a> <span class="badge badge-dark badge-meta">{{ badge }}</span>
</div>

{% if active_users|length > 0 %}
<span data-toggle="tooltip" title='{{ active_users|join:", " }}'>
    <i class="fa fa-users" aria-hidden="true"></i>
</span>
{% endif %}
<button type="button" class="editpuzzle btn btn-default" data-toggle="modal" data-target="#editpuzzle" data-pk="{{ puzzle.pk }}" data-name="{{ puzzle.name }}" data-url="{{ puzzle.url }}" data-is_meta="{{ puzzle.is_meta }}" style="padding: 0px 0px;">
    <i class="fa fa-edit" aria-hidden="true"></i>
</button>
<button type="button" class="deletepuzzle btn btn-default" data-toggle="modal" data-target="#deletepuzzle" data-pk="{{ puzzle.pk }}" data-name="{{ puzzle.name }}" style="padding: 0px 0px;">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
</button>
