[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
python-dotenv = "*"
django-heroku = "*"
google-api-python-client = "*"
social-auth-app-django = "*"
django-taggit = "*"
url-normalize = "*"
gunicorn = "*"
djangorestframework = "*"
disco-py = ">=0.0.14rc1"
celery = "*"
django-celery-results = "*"
redis = "*"
"discord.py" = "*"
channels = "*"
channels-redis = "*"

[dev-packages]
pre-commit = "*"
black = "*"
coverage = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
