{% load static %}
<html lang="en">
    <head>
        <title>{{ APP_TITLE }}</title>
        <link rel="shortcut icon" type="image/png" href="{% static FAVICON %}"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />

        <!-- https://github.com/gitbrent/bootstrap-switch-button -->
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>

        <link rel="stylesheet" href="{% static 'style.css' %}">

        <meta name="google-site-verification" content="Ti5cGx93wum_wEEzeEhSPrfyyhJmrza9sv_1ee25FAY" />

        <!--Light/Dark Mode-->
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.body.classList.add('bootstrap');

                const themeToggle = document.getElementById('light-switch');
                const storedTheme = localStorage.getItem('cardboard-theme');
                if (storedTheme) {
                    document.body.setAttribute('data-bs-theme', storedTheme);
                    if (storedTheme == "dark") {
                        themeToggle.switchButton('off');
                    }
                } else {
                    document.body.setAttribute('data-bs-theme', 'light');
                    localStorage.setItem('cardboard-theme', 'light')
                }

                themeToggle.addEventListener('change', () => {
                    let newTheme = themeToggle.checked ? 'light' : 'dark';
                    document.body.setAttribute('data-bs-theme', newTheme);
                    localStorage.setItem('cardboard-theme', newTheme);
                })
            })
        </script>

        {% block head_content %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-themed">
            <a class="navbar-brand" href="/">
                <img width="48" src="{% static FAVICON %}" alt="">
                {{ APP_SHORT_TITLE }}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tools' %}">Tools and References</a>
                        </li>
                        {% if hunt.settings.answer_queue_enabled %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'answers:queue' %}">Answer Queue</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <div class="nav-link disabled">Logged in as
                        {% if user.first_name %}
                            {{user.first_name}} {{user.last_name}}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                        {% if user.email %}
                            ({{user.email}})
                        {% endif %}
                            </div>
                        </li>
                    {% else %}
                    {% if not is_google_auth_enabled %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                    {% endif %}
                {% endif %}
                </ul>
                <div class="navbar-nav ms-auto">
                    <input id="light-switch" type="checkbox" checked data-toggle="switchbutton" data-onstyle="outline-secondary" data-offstyle="secondary" data-onlabel="Light" data-offlabel="Dark">
                </div>


            </div>

        </nav>

        <div id='ajax-messages'></div>
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" style="white-space: pre-line" role="alert">{{ message }}</div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning" style="white-space: pre-line" role="alert">{{ message }}</div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" style="white-space: pre-line" role="alert">{{ message }}</div>
        {% endif %}
        {% endfor %}

        <div class="container-fluid pb-2">
            {% block page_content %}{% endblock %}
        </div>

        <div class="navbar navbar-themed">
            <p class="small text-muted mb-0">By using our site, you acknowledge that you have read and understand our <a href="{% url 'privacy'%}">Privacy Policy</a></p>
            <p class="small text-muted mb-0">Find us on <a href="https://github.com/cardinalitypuzzles/cardboard">GitHub</a></p>
        </div>
    </body>


</html>
