{% extends "base.html" %}
{% load static %}

{% block page_content %}


<div class="container">
    <div class="row">
        <div class="col-sm">

            <h1>Unseen Cardboard</h1>


            <ul>
                <li>
                    <b>What is this?</b><br>
                    A dashboard for managing puzzles and tracking status during a puzzle hunt, such as MIT Mystery Hunt:

                    <img class="img-fluid" src="{% static 'dashboard.png' %}">
                </li>
                <li>
                  <b>How do I ...?</b><br>
                  There's a set of instructions at <a href="{% url 'instructions'%}">{% url 'instructions'%}</a>
                </li>
                <li>
                    <b>Why do I have to sign in?</b><br>
                    We use Google login to ensure that users only see puzzles for the hunts they are participating in.
                </li>
                <li>
                    <b>How are you using my data?</b><br>
                    We match your email against a whitelist of emails for each hunt. The actions you take while using the Cardboard (such as solving a puzzle) may be logged and attributed to your email. This data is only used for logging purposes. See <a href="{% url 'privacy'%}">here</a> for our full privacy policy.
                </li>

                <li>
                    <b>Cool. Why does it say "Your credentials aren't allowed" when I try to sign in?</b> <br>
                    Your email isn't matching our list. This either means you haven't been added to the share list for our hunt folder or the email address you used there doesn't match the email address you're using here (for instance, if you have multiple email addresses associated with your Google Account). If you believe you should have access or would like to be added, please find clahey on discord (preferred) or email them at <a href="mailto:clahey@clahey.net">clahey@clahey.net</a> .
                </li>

            </ul>

            {% if is_google_auth_enabled %}
                <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'signin.png' %}" alt="Login with Google" ></a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'login' %}">Log in</a>
                <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
