{% extends "base.html" %}
{% block page_content %}

<div class="row justify-content-between m-2">
    <div class="col">
        <h1>Tools and References</h1>
    </div>

    <div class="card-columns">
        <div class="card" >
            <div class="card-body">
                <div class="card-title"><h2>Word Puzzles</h2></div>
                <div class="card-text">
                    <ul>
                        <li>Cryptogram Solver: <a href="https://quipqiup.com/">Quipqiup</a></li>
                        <li>Pattern Matching:
                            <ul>
                                <li><a href="https://nutrimatic.org/">Nutrimatic</a></li>
                                <li><a href="https://www.crosswordnexus.com/wiki/">Wikipedia Regex Search</a></li>
                                <li><a href="https://www.quinapalus.com/cgi-bin/qat/">Qat</a></li>
                            </ul>
                        </li>
                        <li>Dictionary Search:
                            <ul>
                                <li><a href="https://www.onelook.com/">OneLook</a></li></li>
                                <li><a href="http://onelook.com/reverse-dictionary.shtml">OneLook Reverse Dictionary</a></li></li>
                            </ul>
                        <li>Anagram Solvers:
                            <ul>
                                <li><a href="https://www.morewords.com/">MoreWords</a></li>
                                <li><a href="https://www.thewordfinder.com/anagram-solver/">The Word Finder</a></li>
                                <li><a href="https://util.in/solver">util.in heavy-duty anagram solver</a></li>
                                <li><a href="https://tools.qhex.org/">qhex</a></li>
                            </ul>
                        </li>
                        <li>Cryptic References:
                            <ul>
                                <li><a href="http://bestforpuzzles.com/cryptic-crossword-dictionary/">Cryptic Crossword Tutorial</a></li>
                                <li><a href="https://www.highlightpress.com.au/cryptic-crosswords.html">List of indicators</a></li>
                                <li><a href="https://cryptics.fandom.com/wiki/List_of_anagram_indicators">List of anagram indicators</a></li>
                            </ul>
                        </li>
                        <li><a href="http://www.npinsker.me/puzzles/crossword">Crossword Parser</a></li>
                        <li>Crossword Clue Lookup:
                            <ul>
                                <li><a href="https://crosswordtracker.com/">Crossword Tracker</a></li>
                                <li><a href="https://www.wordplays.com/crossword-solver/">Wordplays</a></li>
                                <li><a href="http://www.oneacross.com/">OneAcross</a></li>
                                <li><a href="https://www.crosswordgiant.com/">Crossword Giant</a></li>
                            </ul>
                        </li>
                        <li>Sound/IPA:
                            <ul>
                                <li><a href="https://www.rhymedesk.com/phonemes">RhymeDesk Phonemes</a></li>
                                <li><a href="https://www.rhymezone.com/">RhymeZone</a></li>
                            </ul>
                        </li>
                        <li><a href="https://cjquines.com/dropquote/">Dropquote Solver</a></li>
                        <li><a href="https://www.dcode.fr/word-search-solver">Word Search Solver</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <div class="card-title"><h2>Logic Puzzles</h2></div>
                <div class="card-text">
                    <ul>
                        <li><a href="https://en.wikipedia.org/wiki/Nikoli_(publisher)">Grid Puzzles</a></li>
                        <li><a href="http://www.cross-plus-a.com/puzzles.htm">Cross+A</a></li>
                        <li><a href="https://www.mstang.xyz/noq">Noq</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <div class="card-title"><h2>Image Puzzles</h2></div>
                <div class="card-text">
                    <ul>
                        <li><a href="https://chrome.google.com/webstore/detail/huntress-reverse-image-se/nkhjamjppefmeceaokadfacbdmmcmdpg?hl=en">Huntress Reverse Image Search Chrome Plugin</a></li>
                        <li>Image Manipulation Programs: Photoshop, <a href="https://www.gimp.org/">GIMP</a>, MS Paint</li>
                        <ul>
                            <li><a href='http://nastyissues.blogspot.com/2019/11/solving-jigsaw-puzzle-in-gimp.html'>Solving a jigsaw puzzle in GIMP</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <div class="card-title"><h2>Encodings</h2></div>
                <div class="card-text">
                    <ul>
                        <li><a href="https://morsecode.world/international/translator.html">Morse Code</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Pigpen_cipher">Pigpen</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/NATO_phonetic_alphabet">NATO phonetic alphabet
            </a></li>
                        <li><a href="https://open-dict-data.github.io/ipa-lookup/en/">English IPA Lookup</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/English_Braille#Alphabet">Braille</a></li>
                        <li><a href="https://www.dcode.fr/dancing-men-cipher">Dancing Men</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <div class="card-title"><h2>Math</h2></div>
                <div class="card-text">
                    <ul>
                        <li><a href="https://oeis.org/">The On-Line Encyclopedia of Integer Sequences</a></li>
                        <li><a href="https://www.paulschou.com/tools/xlate/">Base Translation</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <div class="card-title"><h2>Sound Puzzles</h2></div>
                <div class="card-text">
                    <ul>
                        <li><a href="https://www.shazam.com/">Shazam</a></li>
                        <li><a href="https://www.midomi.com/">Midomi Music Search</a></li>
                        <li><a href="https://www.audacityteam.org/">Audacity</a></li>
                        <li><a href="http://bestclassicaltunes.com/DictionaryPiano.aspx">Classical Music Tune Lookup</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <div class="card-title"><h2>Google Sheet Templates</h2></div>
                <div class="card-text">
                    <ul>
                        <li><a href="https://drive.google.com/open?id=1GeDK6NtYze8_jBqlwZAolXjqNiabzvfOdxhXh5s975A">Sheetified Scrabble and Clue Board</a></li>
                        <li><a href="https://docs.google.com/spreadsheets/d/1qdI9woEMeCZ_nsVq6Jh3noYS2z9C2hznXKja4bJ1aqk/edit#gid=1011705972 ">Hex Grids</a></li>
                        <li><a href="https://docs.google.com/spreadsheets/d/1oH9IoWa6GxfhRvCxvbP6Ran4wJuUY4YYIPNnQ9ZfZ5s/edit?usp=sharing">Sheet template</a> with script to change cell background color if cell contains a hex
                            (click Extensions -> Apps Script and add Color.gs to Apps Script of your sheet)
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <div class="card-title"><h2>Idea Generation</h2></div>
                <div class="card-text">
                    <ul>
                        <li><a href="https://www.mit.edu/~puzzle/resources/haveyoutried.pdf">Have you tried...</a></li>
                        <li><a href="https://phenomist.wordpress.com/storage/sets/">Phenomist's Sets of Sets</a></li>
                        <li><a href="https://www.google.com/">Google</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <div class="card-title"><h2>MITMH Specific</h2></div>
                <div class="card-text">
                    <ul>
                        <li><a href="http://puzzles.mit.edu/tools.html">MITMH Puzzles Tools Page</a></li>
                        <li><a href='https://thetech.com/issues/141/33/pdf'>The Tech (MIT Newspaper)</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>













</div>

{% endblock %}
