{% extends "base.html" %}
{% load static %}

{% block page_content %}


<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Something's wrong!</h1>
      <dl>
        <dt>The dashboard says I am not authorized.</dt>
        <dd>You should already have been added to the list of users
        with access to
        our <a href="https://drive.google.com/drive/u/0/folders/1Cd6au1sEPd0HYDfEoeTFT1JqKCPwshdl">google
        drive directory</a> for this years hunt. Use this same google
        account to log in with google at the bottom of the home page.
          <br>
          One possible reason this won't work is if your google
        account has secondary emails associated with it. If one of
        those was used to give you access to google drive, this may
        cause problems. You can fix this by removing yourself from the
        permission list and add the main email address of your google
        account. (Once you have the URL, you can change settings even
        if you remove yourself.)
          <br>
          If this doesn't work, please let clahey or alanbm know on
        discord (or email clahey@clahey.net, but responses will be
        slower.)
        </dd>
    </div>
  </div>
</div>
{% endblock %}
