{% extends "base.html" %}

{% load puzzle_extras %}

{% block page_content %}

<div class="d-flex justify-content-between px-3 pb-3">
    <h1>{{ hunt_name }} - All Puzzles</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addpuzzle">
        Add New Puzzle
    </button>
</div>

{% get_table hunt_pk request %}

<div class="modal fade" id="addpuzzle" tabindex="-1" role="dialog" aria-labelledby="addtitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addtitle">Add Puzzle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/hunts/{{ hunt_pk }}/" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.url }}
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="id_is_meta">Meta?</label>
                        {{ form.is_meta }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

