{% extends "base.html" %}

{% block page_content %}

<div class="row justify-content-between">
    <div class="col-10">
        <h1>{{ hunt_name }} - All Puzzles</h1>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addpuzzle">
            add new puzzle
        </button>
    </div>
</div>

<table class="table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Puzzle</th>
            <th scope="col">Status</th>
            <th scope="col">Sheet</th>
            <th scope="col">Slack</th>
        </tr>
    </thead>
    <tbody>
            {% for p in puzzles %}
                <th scope="row"><a href="{{ p.url }}">{{ p.name }}</a></th>
                <td>{{ p.status }}</td>
                <td><a href="{{ p.sheet }}">Link</a></td>
                <td><a href="{{ p.channel }}">Link</a></td>
            {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="addpuzzle" tabindex="-1" role="dialog" aria-labelledby="addtitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addtitle">Add Puzzle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/hunts/{{ hunt_pk }}/" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.url }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

