{% extends "base.html" %}

{% block page_content %}

<div class="d-flex justify-content-between px-3 pb-3">
    <h1>{{ hunt_name }} - All Puzzles</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addpuzzle">
        Add New Puzzle
    </button>
</div>

<div class="px-3 pb-3">
    <table class="table table-sm tree" id="puzzles" style="width:100%">
    </table>
</div>

<div class="modal fade" id="addpuzzle" tabindex="-1" role="dialog" aria-labelledby="addtitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addtitle">Add Puzzle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/hunts/{{ hunt_pk }}/" method="post" onsubmit="return disableSubmit(this);">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.url }}
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="id_is_meta">Meta?</label>
                        {{ form.is_meta }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
var slack_base_url = '{{ slack_base_url }}';
var table;

// indices into data array
var pk = 0,
    puzzle_name = 1,
    url = 2,
    is_meta = 3,
    active_users = 4,
    answer = 5,
    puzzle_status = 6,
    sheet = 7,
    channel = 8,
    tags = 9,
    metas = 10,
    puzzle_class = 11;

function disableSubmit(form) {
    form.submit.disabled = true
    return true;
}

function getTableClassForPuzzleStatus(puzzleStatus) {
    if (['STUCK', 'EXTRACTION'].includes(puzzleStatus)) {
        return 'table-danger';
    } else if (puzzleStatus === 'PENDING') {
        return 'table-warning';
    } else if (puzzleStatus === 'SOLVED') {
        return 'table-success';
    }
    return '';
}

function updateRowColor(row, puzzleStatus) {
    let newClass = getTableClassForPuzzleStatus(puzzleStatus);
    for (const tableClass of ['table-warning', 'table-danger', 'table-success']) {
        $(row).removeClass(tableClass);
    }
    $(row).addClass(newClass);
}

function areArraysEqual(arr1, arr2) {
    return arr1.length === arr2.length && arr1.every((value, index) => {
        if (Array.isArray(value)) {
            return value.length === arr2[index].length
                && areArraysEqual(value, arr2[index]);
        }
        return value === arr2[index];
    });
}

function areElemsEqual(elem1, elem2) {
    if (Array.isArray(elem1)) {
        return areArraysEqual(elem1, elem2);
    }
    return elem1 === elem2;
}

function redrawTable(newdata) {
    if (newdata) {
        table.clear();
        for (const row of newdata) {
            table.row.add(row);
        }
    }
    // keep current page position after redraw
    table.draw('full-hold');
}

function reload() {
    $.ajax('/hunts/{{hunt_pk}}/puzzles', {
        'success': function(newdata) {
            newdata = newdata['data'];
            let olddata = table.data();
            if (newdata.length !== olddata.length) {
                return redrawTable(newdata);
            }

            // diff row by row, invalidating updated rows
            let redrawRequired = false;
            for (let rowIndex = 0; rowIndex < olddata.length; rowIndex++) {
                let oldrow = olddata[rowIndex];
                let newrow = newdata[rowIndex];
                for (let colIndex = 0;
                    colIndex < oldrow.length; colIndex++) {
                    if (!areElemsEqual(oldrow[colIndex], newrow[colIndex])) {
                        if (colIndex === pk) {
                            // treegrid order changed, need to redraw
                            redrawRequired = true;
                            break;
                        }

                        table.cell(rowIndex, colIndex).data(newrow[colIndex]);
                        table.cell(rowIndex, colIndex).invalidate();

                        if (colIndex === puzzle_name) {
                            // to fix indentation
                            initTreegrid();
                        }
                        else if (colIndex === puzzle_status) {
                            updateRowColor(table.row(rowIndex).node(),
                                newrow[puzzle_status]);
                        } else if (colIndex === tags) {
                            initDeleteTagHandlers(newrow);
                        }
                    }
                }

                if (redrawRequired) {
                    break;
                }
            }

            if (redrawRequired) {
                redrawTable(newdata);
            }
        },
        'error': function(response) {
            showMessage(`Encountered error making /puzzles AJAX call: ${response['responseText']}`, 'error');
        },
    });
}

var all_uncollapsed = false;
function maybeExpandAll() {
    if ( all_uncollapsed == false ) {
        all_uncollapsed = true;
        $('.tree').treegrid('expandAll');
    }
}

function initTreegrid() {
    $('.tree').treegrid({
        onCollapse: function() {
            all_uncollapsed = false;
        }
    });
    if ($('.tree').hasClass( "initial-collapsed" )) {
        $('.initial-collapsed').treegrid('collapse');
    }
}

function showMessage(message, type) {
    let alertClass = 'alert-success';
    if (type === 'error') {
        alertClass = 'alert-danger'
    }

    $('#ajax-messages').html(`
        <div class="alert ${alertClass} alert-dismissible fade show">
            ${message}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>`
    );
}

function deleteTagHandler(e) {
    e.preventDefault();

    // to prevent form submission from being triggered for every instance of
    // this puzzle (which might be listed under multiple metas)
    e.stopImmediatePropagation();

    let url = $(this).attr('action');
    let pk = $(this).attr('data-pk');
    let tagName = $(this).attr('data-tag-name');
    let row = table.row(`#puzzle-${pk}`);
    let data = row.data();
    let puzzleName = data[puzzle_name];
    let tagPairs = data[tags];

    for (let i = 0; i < tagPairs.length; i++) {
        if (tagPairs[i][0] === tagName) {
            tagPairs.splice(i, 1);
            break;
        }
    }
    table.cell(`#puzzle-${pk}`, tags).invalidate();

    $.ajax(url, {
        'method': 'POST',
        'data': $(this).serialize(),
        'success': function() {
            showMessage(`Removed tag '${tagName}' from puzzle '${puzzleName}'`);
            reload();
        },
        'error': function(response) {
            response = response['responseJSON'];
            let message = `Got error deleting tag '${tagName}' from puzzle '${puzzleName}': ${response['error']}`;
            showMessage(message, 'error');
            reload();
        },
    });
}

function initDeleteTagHandlers(data) {
    let puzzleTags = data[tags];
    for (let i = 0; i < puzzleTags.length; i++) {
        let tagName = puzzleTags[i][0];
        $('#puzzles').on(
            'submit',
            `.delete-tag-${data[pk]}-${tagName}`,
            deleteTagHandler
        );
    }
}

$(document).ready(function() {
    table = $('#puzzles').DataTable({
        'data': [],
        'paging': true,
        'pageLength': 50,
        'ordering': false,
        'createdRow': function(row, data, dataIndex) {
            $(row).addClass(data[puzzle_class]);
            $(row).attr('id', `puzzle-${data[pk]}`);
            initDeleteTagHandlers(data);
        },
        'drawCallback': function() {
            $('#puzzles').on('draw.dt', initTreegrid);
            $('#puzzles').on('search.dt', maybeExpandAll);
        },
        'initComplete': function() {
            reload();
        },
        'columnDefs': [
            {
                'visible': false,
                'targets': [pk, url, is_meta, active_users, puzzle_class],
            },

            {
                'searchable': false,
                'targets': [pk, url, is_meta, active_users, puzzle_class, sheet, channel, metas]
            },

            {'title': 'Name', 'targets': puzzle_name},
            {'title': 'Answer', 'targets': answer},
            {'title': 'Status', 'targets': puzzle_status},
            {'title': 'Sheet', 'targets': sheet},
            {'title': 'Slack', 'targets': channel},
            {'title': 'Tags', 'targets': tags},
            {'title': 'Metas', 'targets': metas},

            {'width': '30%', 'targets': puzzle_name},
            {'width': '17.5%', 'targets': [answer, tags]},
            {'width': '80px', 'targets': metas},
            {'width': '60px', 'targets': [sheet, channel]},

            {
                'targets': puzzle_name,
                'render': function(data, type, row, meta) {
                    var result = '<a href="' + row[url] + '">' + row[puzzle_name] + '</a>';
                    if (row[is_meta]) {
                        result += ' <span class="badge badge-dark badge-meta">META</span>';
                    }
                    if (row[active_users] && row[active_users].length > 0) {
                        result += ` <span data-toggle="tooltip" title="${row[active_users].join(', ')}">
                                      <i class="fa fa-users" aria-hidden="true"></i>
                                    </span>`;
                    }
                    result += `
<button type="button" class="editpuzzle btn btn-default" data-toggle="modal" data-target="#editpuzzle" data-pk="${row[pk]}" data-name="${row[puzzle_name]}" data-url="${row[url]}" data-is_meta="${row[is_meta]}" style="padding: 0px 0px;">
    <i class="fa fa-edit" aria-hidden="true"></i>
</button>
<button type="button" class="deletepuzzle btn btn-default" data-toggle="modal" data-target="#deletepuzzle" data-pk="${row[pk]}" data-name="${row[puzzle_name]}" style="padding: 0px 0px;">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
</button>`;

                    return result;
                },
            },
            {
                'targets': answer,
                'render': function(data, type, row, meta) {
                    if (data || type === 'filter') {
                        return data;
                    }
                    var result = `
                    <button type="button" class="submitanswer btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#submitanswer" data-pk="${row[pk]}" data-name="${row[puzzle_name]}">
                        Submit Answer
                    </button>`;
                    return result;
                }
            },
            {
                'targets': puzzle_status,
                'render': function(data, type, row, meta) {
                    var result = row[puzzle_status];
                    if (row[puzzle_status] !== 'PENDING' && row[puzzle_status] !== 'SOLVED') {
                        result += `
<button type="button" class="editstatus btn btn-default" data-toggle="modal" data-target="#editstatus" data-pk="${row[pk]}" data-name="${row[puzzle_name]}" data-status="${row[puzzle_status]}" style="padding: 0px 0px;">
    <i class="fa fa-edit" aria-hidden="true"></i>
</button>`
                    }
                    return result;
                }
            },
            {
                'targets': sheet,
                'render': function(data, type, row, meta) {
                    var result = '';
                    if (data) {
                        result = `<a href="${data}" target="_blank">Link</a>`;
                    }
                    return result;
                }
            },
            {
                'targets': channel,
                'render': function(data, type, row, meta) {
                    var result = '';
                    if (data) {
                        result = `<a href="${slack_base_url}/app_redirect?channel=${data}" target="_blank">Link</a>`
                    }
                    return result;
                }
            },
            {
                'targets': tags,
                'render': function(data, type, row, meta) {
                    var result = '';
                    for (var i = 0; i < data.length; i++) {
                        tag = data[i];
                        result += `
    <form method="post" action="/puzzles/remove_tag/${row[pk]}/${tag[0]}" class="delete-tag-${row[pk]}-${tag[0]}" data-pk="${row[pk]}" data-tag-name="${tag[0]}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        <small>
            <span class="badge badge-${tag[1]}">${tag[0]}</span>
            <button type="submit" class="btn btn-default" style="padding: 0px 0px;">
                <i class="fa fa-xs fa-times"></i>
            </button>
        </small>
    </form>`;
                    }
                    result += `
<button type="button" class="addtag btn btn-default" data-toggle="modal" data-target="#addtag" data-pk="${row[pk]}" style="padding: 0px 0px;">
    <i class="fa fa-xs fa-plus" aria-hidden="true"></i>
</button>`
                    return result;
                }
            },
            {
                'targets': metas,
                'render': function(data, type, row, meta) {
                    var result = `
                    <button type="button" class="meta btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#meta" data-pk="${row[pk]}" data-name="${row[puzzle_name]}">
                        Assign Metas
                    </button>`;

                    return result;
                }
            }
        ],
    });

    setInterval(function() {
        reload();
    }, 10000);
});
</script>

{% include "modals/edit_puzzle.html" %}
{% include "modals/delete_puzzle.html" %}
{% include "modals/submit_answer.html" %}
{% include "modals/edit_status.html" %}
{% include "modals/add_tag.html" %}
{% include "modals/set_meta.html" %}

{% endblock %}
