{% extends "base.html" %}
{% block page_content %}

<div class="m-2 col">
    <h1>Hunt Settings</h1>

    <form id="hunt_settings" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{hunt_form.as_p}}
            </div>

            <div class="col-md-6">
                {{settings_form.as_p}}
            </div>
        </div>
    </form>

    <div class="d-flex">
        <form action="sync_discord_roles" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary mx-2">Sync Discord & Cardboard roles</button>
        </form>
        <form action="sync_drive_permissions" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary mx-2">Add users from Google Drive</button>
        </form>
        <a class="btn btn-light ms-auto mx-2" href="/">Go to Puzzles</a>
        <button type="submit" class="btn btn-primary mx-2" form="hunt_settings" >Submit</button>
    </div>
</div>
{% endblock %}
