{% extends "base.html" %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="text-left">Hunt Statistics</h1>
    </div>
    <div class="col-sm-auto text-right align-self-center">
      <a href="{% url 'hunts:all_puzzles_react' hunt_slug %}">Back To Hunt</a>
    </div>
  </div>
</div>

<div class="container">
  <p class="text-center">
    <!-- (graph goes here) -->
  </p>
</div>

<div class="container">
  <div class="row justify-content-center text-center font-weight-bold align-items-end">
    <div class="col-sm-2">
      Metas Solved
    </div>
    <div class="col-sm-2">
      Solved
    </div>
    <div class="col-sm-2">
      Unlocked
    </div>
    <div class="col-sm-2">
      Unsolved
    </div>
    <div class="col-sm-2">
      Metas Unsolved
    </div>
  </div>
  <div class="row justify-content-center text-center font-weight-bold">
    <div class="col-sm-2">
      <h2 class="text-primary">{{ num_metas_solved }}</h2>
    </div>
    <div class="col-sm-2">
      <h2 class="text-success">{{ num_solved }}</h2>
    </div>
    <div class="col-sm-2">
      <h2 class="text-secondary">{{ num_unlocked }}</h2>
    </div>
    <div class="col-sm-2">
      <h2 class="text-danger">{{ num_unsolved }}</h2>
    </div>
    <div class="col-sm-2">
      <h2 class="text-warning">{{ num_metas_unsolved }}</h2>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><b>Progression</b> (solves + puzzles w/ solved metas)</td>
            <th class="text-right text-success">{{ progression }}</th>
          </tr>
          <tr>
            <td>Solves per Hour</td>
            <th class="text-right">{{ solves_per_hour }}</th>
          </tr>
          <tr>
            <td>Minutes per Solve</td>
            <th class="text-right">{{ minutes_per_solve }}</th>
          </tr>
          <tr>
            <td>Solves per Hour (past 6 hrs)</td>
            <th class="text-right">{{ solves_per_hour_recent }}</th>
          </tr>
          <tr class="border-bottom">
            <td>Minutes per Solve (past 6 hrs)</td>
            <th class="text-right">{{ minutes_per_solve_recent }}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <table class="table table-hover">
        <thead class="text-center">
          <th colspan="2">Metas Solved</th>
        </thead>
        <tbody>
          {% for meta_solve in meta_names_and_times %}
          <tr class="border-bottom">
            <td class="text-primary">{{ meta_solve.0 }}</td>
            <td class="text-right">{{ meta_solve.1 | date:"D h:i A" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
