{% extends "base.html" %}
{% block page_content %}

<div class="row justify-content-between" style="margin:10">
    <div class="col-10">
        <h1>Tools and References</h1>
    </div>

    <div class="col-10">
        <h2>Word Puzzles</h2>
    </div>
    <div class="col-10">
        <ul>
            <li>https://quipqiup.com/</li>
            <li>https://nutrimatic.org/</li>
            <li>https://www.onelook.com/</li>
            <li>https://www.thewordfinder.com/anagram-solver/</li>
            <li>https://www.highlightpress.com.au/</li>
            <li>http://www.npinsker.me/puzzles/crossword</li>
        </ul>
    </div>

    <div class="col-10">
        <h2>Logic Puzzles</h2>
    </div>
    <div class="col-10">
        <ul>
            <li>Ask Max</li>
        </ul>
    </div>

    <div class="col-10">
        <h2>Math</h2>
    </div>
    <div class="col-10">
        <ul>
            <li>https://oeis.org/</li>
            <li>https://www.paulschou.com/tools/xlate/</li>
        </ul>
    </div>

    <div class="col-10">
        <h2>Technical</h2>
    </div>
    <div class="col-10">
        <ul>
            <li>https://www.midomi.com/</li>
        </ul>
    </div>

    <div class="col-10">
        <h2>Misc</h2>
    </div>
    <div class="col-10">
        <ul>
            <li>https://phenomist.wordpress.com/storage/sets/</li>
        </ul>
    </div>


</div>

{% endblock %}
