{% extends "base.html" %}
{% block page_content %}

<div class="row justify-content-between" style="margin:10">
    <div class="col-10">
        <h1>Tools and References</h1>
    </div>

    <div class="col-10">
        <h2>Word Puzzles</h2>
    </div>
    <div class="col-10">
        <ul>
            <li>Cryptogram Solver: <a href="https://quipqiup.com/">quipqiup</a></li>
            <li>Pattern Matching: <a href="https://nutrimatic.org/">nutrimatic</a></li>
            <li>Dictionary Search: <a href="https://www.onelook.com/">OneLook</a></li>
            <li>Anagram Solvers:
                <ul>
                    <li><a href="https://www.morewords.com/">More Words</a></li>
                    <li><a href="https://www.thewordfinder.com/anagram-solver/">The Word Finder</a></li>
                </ul>
            </li>

            <li><a href="https://www.highlightpress.com.au/">Cryptics Reference</a></li>
            <li><a href="http://www.npinsker.me/puzzles/crossword">Crossword Parser</a></li>
        </ul>
    </div>

    <div class="col-10">
        <h2>Logic Puzzles</h2>
    </div>
    <div class="col-10">
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Nikoli_(publisher)">Grid Puzzles</a></li>
            <li>Ask Max</li>
        </ul>
    </div>

    <div class="col-10">
        <h2>Math</h2>
    </div>
    <div class="col-10">
        <ul>
            <li><a href="https://oeis.org/">The On-Line Encyclopedia of Integer Sequences</a></li>
            <li><a href="https://www.paulschou.com/tools/xlate/">Encodings</a></li>
        </ul>
    </div>

    <div class="col-10">
        <h2>Technical</h2>
    </div>
    <div class="col-10">
        <ul>
            <li><a href="https://www.midomi.com/">Music Search</a></li>
        </ul>
    </div>

    <div class="col-10">
        <h2>Idea Generation</h2>
    </div>
    <div class="col-10">
        <ul>
            <li><a href="https://www.mit.edu/~puzzle/resources/haveyoutried.pdf">Have you tried...</a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/1hmQcKTU7JMEQSOXvJNVCrzBQwXS2t371wLB1rXrA9lk/edit#gid=0">Palindrome's Groups of X Things</a></li>
            <li><a href="https://phenomist.wordpress.com/storage/sets/">Phenomist's Sets of Sets</a></li>
            <li><a href="https://docs.google.com/document/d/1cu5v2n3zKzwag7rdzfJqdTPw9kp9vHFCIYYieHX_E-U/edit">The Benjian Puzzle Maxims</a></li>
            <li><a href="https://www.google.com/">Google</a></li>
        </ul>
    </div>


</div>

{% endblock %}
