{% extends "base.html" %}

{% block page_content %}

<div class="row justify-content-between" style="margin:10">
    <div class="col-10">
        <h1>{{ hunt_name }} - Answer Queue</h1>
    </div>
</div>

<div class="px-3 pb-3">
    <table class="table table-sm" id="queue" style="width:100%">
    </table>
</div>

<script type="text/javascript">
function getTableClassForAnswerStatus(answerStatus) {
    if (['SUBMITTED', 'PARTIAL'].includes(answerStatus)) {
        return 'table-warning';
    } else if (answerStatus === 'CORRECT') {
        return 'table-success';
    } else if (answerStatus === 'INCORRECT') {
        return 'table-danger';
    }
    return '';
}

function updateRowColor(row, status) {
    let newClass = getTableClassForAnswerStatus(status);
    for (const tableClass of ['table-warning', 'table-danger', 'table-success']) {
        $(row).removeClass(tableClass);
    }
    $(row).addClass(newClass);
}

$(document).ready(function() {
    // table column indices
    let time = 0,
        puzzle_name = 1,
        puzzle_url = 2,
        puzzle_is_meta = 3,
        guess = 4,
        answer_status = 5,
        id = 6,
        notes = 7;

    let statuses = ['NEW', 'SUBMITTED', 'CORRECT', 'INCORRECT', 'PARTIAL',];

    let table = $('#queue').DataTable( {
        "data": [],
        "paging": true,
        "pageLength": 50,
        "info": true,
        "scrollX": true,
        "scrollY": true,
        "order": [[ time, "desc" ]],
        "ordering": false,
        "createdRow": function(row, data, dataIndex) {
            $(row).addClass(getTableClassForAnswerStatus(data[answer_status]));
            $(row).find(`#answer-status-${data[id]}`).change(function() {
                let newStatus = $(this).val();
                updateRowColor(row, newStatus);
                data[answer_status] = newStatus;
                $.ajax('/answers/queue/{{hunt_pk}}/' + $(this).data('id'), {
                    'data': {
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                        'status': newStatus
                    },
                    'method': 'POST',
                    'success': function(response) {
                        reload();
                    },
                    'error': function(response) {
                        console.log('Got error response when updating answer:', response);
                        reload();
                    }
                });
            });
        },
        "initComplete": function(settings) {
            reload();
        },
        "columnDefs": [
            {
                'visible': false,
                'targets': [id, puzzle_url, puzzle_is_meta],
            },
            {
                'searchable': false,
                'targets': [id, time, puzzle_url, puzzle_is_meta],
            },
            {'title': 'Time', 'targets': time},
            {'title': 'Puzzle', 'targets': puzzle_name},
            {'title': 'Answer', 'targets': guess},
            {'title': 'Status', 'targets': answer_status},
            {'title': 'Notes', 'targets': notes},

            {'width': '15%', 'targets': [time, answer_status]},

            {
                'targets': time,
                'render': function(data, type, row, meta) {
                    return moment(data).format('MMM D, YYYY, hh:mm a');
                },
            },
            {
                'targets': puzzle_name,
                'render': function(data, type, row, meta) {
                    let result = '<a href="' + row[puzzle_url] + '">' + row[puzzle_name] + '</a>';
                    if (row[puzzle_is_meta]) {
                        result += ' <span class="badge badge-dark badge-meta">META</span>';
                    }
                    return result;
                },
            },
            {
                'targets': guess,
                'render': function(data, type, row, meta) {
                    return `<p class="text-monospace">${data}</p>`
                },
            },
            {
                'targets': answer_status,
                'render': function(data, type, row, meta) {
                    let result = data;
                    if (type === 'display') {
                        result = `
        <div class="form-group">
            <select name="status" class="form-control form-control-sm" id="answer-status-${row[id]}" data-id="${row[id]}">
    `;
                        for (const status of statuses) {
                            result += '<option value="' + status + '"';
                            if (status === data) {
                                result += ' selected';
                            }
                            result += '>' + status + '</option>\n';
                        }

                        result += `
            </select>
        </div>`;
                    }
                    return result;
                },
            },
            {
                'targets': notes,
                'render': function(data, type, row, meta) {
                    let result = `
<form action="/answers/update_note/${row[id]}" method="post" class="form-inline">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="form-group">
        <input type="text" name="text" class="form-control form-control-sm col-xs-4" placeholder="Enter notes here" maxlength="128" required`;
                    if (data) {
                        result += ` value="${data}"`;
                    }
                    result += `>
        <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
    </div>
</form>`;
                    return result;
                },
            },
        ],
    } );

    function reload() {
        $.ajax('/answers/queue/{{hunt_pk}}/answers', {
            'success': function(newdata) {
                newdata = newdata['data'];
                olddata = table.data();
                if (newdata.length !== olddata.length) {
                    table.clear();
                    for (const row of newdata) {
                        table.row.add(row);
                    }
                    table.draw(false);
                    return;
                }

                // diff row by row, invalidating updated rows
                newdata.forEach(function(newrow, rowIndex) {
                    oldrow = olddata[rowIndex];
                    if (!newrow.every((value, colIndex) => value === oldrow[colIndex])) {
                        table.row(rowIndex).data(newrow);
                        table.row(rowIndex).invalidate();
                    }
                });
            },
            'error': function(response) {
                console.log('Encountered error making /answers AJAX call:', response);
            },
        });
    }

    setInterval(function() {
        reload();
    }, 3000);
});
</script>
{% endblock %}
