{% extends "base.html" %}
{% load puzzle_extras %}
{% load answer_extras %}

{% block page_content %}

<meta http-equiv="refresh" content="30">

<div class="row justify-content-between" style="margin:10">
    <div class="col-10">
        <h1>{{ hunt_name }} - Answer Queue</h1>
    </div>
</div>

<div class="px-3 pb-3">
    <table class="table table-sm" id="queue" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Puzzle</th>
                <th scope="col">Answer</th>
                <th scope="col">Status</th>
                <th scope="col">Notes (e.g. for Partials)</th>
            </tr>
        </thead>
        <tbody>
            {% for ans, form, notes_form in rows %}
            <tr class="{% answer_class ans %}">
                <th>{{ ans.created_on }}</th>
                <td>{% get_title ans.puzzle %}</td>
                <td><p class="text-monospace">{{ ans.text.upper|strip }}</p></td>
                <td>
                    <form action="/answers/queue/{{ hunt_pk }}/{{ ans.id }}" method="post" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.status }}
                        </div>
                    </form>
                </td>
                <td>
                   <form action="/answers/update_note/{{ ans.id }}" method="post" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ notes_form.text }}
                            <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="col">Time</th>
                <th scope="col" class="column_searchable">Puzzle</th>
                <th scope="col" class="column_searchable">Answer</th>
                <th scope="col" class="column_searchable">Status</th>
                <th scope="col" class="column_searchable">Notes (e.g. for Partials)</th>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
$(document).ready(function() {
    // table column indices
    var time = 0,
        puzzle = 1,
        answer = 2,
        status = 3,
        notes = 4;

    $('#queue').DataTable( {
        "paging": true,
        "info": true,
        "scrollX": true,
        "scrollY": true,
        "columnDefs": [
            { "searchable": false, "targets": time },
            {
              "targets": time,
              "type": "date",
              "render": function(data, type, row, meta) {
                if (type === 'sort') {
                    data = moment(data, 'MMM D, YYYY, h:m a');
                }
                return data;
              },
            },
            { "orderable": false,
              "targets": status,
              "render": function(data, type, row, meta) {
                if (type === 'filter') {
                    data = $.parseHTML(data);
                    data = data[0].querySelector('select').value;
                }
                return data;
              },
            },
            { "orderable": false,
              "targets": notes,
              "render": function(data, type, row, meta) {
                if (type === 'filter') {
                    data = $.parseHTML(data);
                    data = data[0].querySelector('.form-control').value;
                }
                return data;
              },
            },
        ],
        //"order": [[ time, "desc" ]],
    } );
});
</script>
{% endblock %}
