name: pre-submit

on:
  pull_request:
  push:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.0
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.8.x"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install python deps
        run: poetry install --no-interaction

      - uses: actions/setup-node@v2
        with:
          node-version: "12"
      - name: Install nodejs deps
        run: yarn install

      - name: Configure test environment
        run: cp .env.test .env

      - name: Build the app
        run: |
          source .venv/bin/activate
          python manage.py migrate  # Tests require initial database migration.
          yarn build  # Build static React files before running Django collecstatic.
          python manage.py collectstatic  # Tests require static files.

      - name: Run all tests with coverage
        run: coverage run --source='.' manage.py test

      - name: Upload coverage data
        uses: codecov/codecov-action@v1
